<h2>
  Thank you for visiting our website! If you have any questions, comments, or
  inquiries, feel free to get in touch with us. We're here to assist you.
</h2>

<p>
  <b>Contact Information:</b><br />
  <b> Name:</b> Responsive UI<br />
  <b>Email:</b> info@responsive-ui.com <br />
  <b>Phone:</b> +1 (555) 123-4567
</p>

<p>
  <b> Our Office: </b><br />Responsive UI 123 Main Street Anytown, CA 12345
  United States
</p>

We look forward to hearing from you and will respond to your message as soon as
possible. Your feedback is important to us!
