.gallery {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  overflow: auto;
  height: calc(100vh - 6rem);
  justify-content: space-evenly;

  img {
    max-height: 20rem;
    max-width: 25rem;
    flex-basis: auto;
  }
}
