.layout {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  app-header {
    grid-area: 1 / 1 / 2 / 8;
  }
  app-menu {
    grid-area: 2 / 1 / 7 / 2;
  }
  .content {
    grid-area: 2 / 2 / 7 / 8;
    padding: 1rem;
  }

  @media only screen and (max-width: 500px) {
    app-menu {
      grid-area: 2 / 1 / 7 / 8;
      z-index: 1;
      text-align: center;
    }
    .content {
      grid-area: 2 / 1 / 7 / 8;
      padding: 1rem;
    }
  }
}
